.table-clients{
  display: flex;
  justify-content: center;
  margin-top: 50px
}


table {
  width: 80%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.element-img {
  min-width: 200px;
  border: 2px solid black;
  height: 266px;
}

.element-description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}