<mat-toolbar class="secundary toolBar">
    <label>Lista de Clientes</label>
</mat-toolbar>


<table mat-table [dataSource]="clients" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{labelToDisplay[column]}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="element-img">
            <img class="element-img" [src]="'data:image/jpeg;base64,'+element.image | safeHtml" alt="">
        </div>
        <div class="element-description">
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Nome: </span>{{element.name}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Identidade: </span>{{element.identify}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Órgão Emissor/UF: </span>{{element.orgIdentify}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">CPF/CNPJ: </span>{{element.document}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Nacionalidade: </span>{{element.nationality}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Naturalidade: </span>{{element.naturalness}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Email: </span>{{element.email}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Data Nascimento: </span>{{element.birth}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Sexo: </span>{{element.gender}}</div>
        </div>
        <div class="element-description">
          <div style="margin-bottom: 15px"><span class="element-description-attribution">CEP: </span>{{element.cep}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Endereço: </span>{{element.address}} Nº: {{element.addressNumber}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Cidade: </span>{{element.city}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Estado: </span>{{element.state}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Celular: </span>{{element.celNumber}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Telefone: </span>{{element.telNumber}}</div>
          <div style="margin-bottom: 15px"><span class="element-description-attribution">Tel. Comericial: </span>{{element.comNumber}}</div>
        </div>        
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"  [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>