<div class="main">
    <div class=content>
        <span style="font-size: 25px">Login</span>
        <form [formGroup]="loginForm" style="width: 100%; height: 100%;">
            <div class="formLogin">
                <mat-form-field style="width: 80%">
                    <input matInput formControlName="username" required placeholder="Usuário">
                </mat-form-field>
                <mat-form-field style="width: 80%">
                    <input matInput placeholder="Senha" type="password" formControlName="password" required>
                </mat-form-field>
                <div>
                    <button mat-flat-button color="primary" (click)="login()">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>