<mat-toolbar class="secundary toolBar">
    <button mat-icon-button aria-label="voltar" routerLink="/home">
        <mat-icon>keyboard_return</mat-icon>
    </button>
    <label>Cadastro de Cliente</label>
</mat-toolbar>

<div class="main">
    <div class="register-main">
        <form [formGroup]="registerForm">
            <div class="register-content1">
                <div class="img-client">

                </div>

                <div class="content1">
                    <mat-form-field style="width: 500px; margin-left: 10px">
                        <input matInput formControlName="name" placeholder="Nome Completo">
                    </mat-form-field>
                    <p>
                        <mat-form-field style="width: 200px; margin-left: 10px">
                            <input matInput formControlName="identify" placeholder="Numero de Identidade">
                        </mat-form-field>
                        <mat-form-field style="width: 200px; margin-left: 10px">
                            <input matInput formControlName="orgIdentify" placeholder="Órgão Emissor/UF">
                        </mat-form-field>  
                        <mat-form-field style="width: 200px; margin-left: 10px">
                            <input matInput formControlName="document" placeholder="CPF">
                        </mat-form-field>                                              
                    </p>
                    <p>
                        <mat-form-field style="width: 200px; margin-left: 10px">
                            <input matInput formControlName="nationality" placeholder="Nacionalidade">
                        </mat-form-field>      
                        <mat-form-field style="width: 200px; margin-left: 10px">
                            <input matInput formControlName="naturalness" placeholder="Naturalidade">
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field style="width: 400px; margin-left: 10px">
                            <input matInput formControlName="email" placeholder="Email">
                        </mat-form-field>  
                    </p>
                                                                                                       
                </div>
            </div>
            <div class="register-content2">
                <div class="content2">
                    <p>
                        <mat-form-field style="width: 150px; margin-left: 10px">
                            <input matInput formControlName="cep" placeholder="CEP">
                        </mat-form-field>                        
                        <mat-form-field style="width: 400px; margin-left: 10px">
                            <input matInput formControlName="address" placeholder="Endereço">
                        </mat-form-field>  
                        <mat-form-field style="width: 80px; margin-left: 10px">
                            <input matInput formControlName="addressNumber" placeholder="Numero">
                        </mat-form-field>                          
                        <mat-form-field style="width: 300px; margin-left: 10px">
                            <input matInput formControlName="city" placeholder="Cidade">
                        </mat-form-field>  
                        <mat-form-field style="width: 200px; margin-left: 10px">
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="state" required>
                                <mat-option value="ac">Acre</mat-option>
                                <mat-option value="al">Alagoas</mat-option>
                                <mat-option value="ap">Amapá</mat-option>
                                <mat-option value="am">Amazonas</mat-option>
                                <mat-option value="ba">Bahia</mat-option>
                                <mat-option value="ce">Ceará</mat-option>
                                <mat-option value="df">Distrito Federal</mat-option>
                                <mat-option value="es">Espírito Santo</mat-option>
                                <mat-option value="go">Goiás</mat-option>
                                <mat-option value="ma">Maranhão</mat-option>
                                <mat-option value="mt">Mato Grosso</mat-option>
                                <mat-option value="ms">Mato Grosso do Sul</mat-option>
                                <mat-option value="mg">Minas Gerais</mat-option>
                                <mat-option value="pa">Pará</mat-option>
                                <mat-option value="pb">Paraíba</mat-option>
                                <mat-option value="pr">Paraná</mat-option>
                                <mat-option value="pe">Pernambuco</mat-option>
                                <mat-option value="pi">Piauí</mat-option>
                                <mat-option value="rj">Rio de Janeiro</mat-option>
                                <mat-option value="rn">Rio Grande do Norte</mat-option>
                                <mat-option value="rs">Rio Grande do Sul</mat-option>
                                <mat-option value="ro">Rondônia</mat-option>
                                <mat-option value="rr">Roraima</mat-option>
                                <mat-option value="sc">Santa Catarina</mat-option>
                                <mat-option value="sp">São Paulo</mat-option>
                                <mat-option value="se">Sergipe</mat-option>
                                <mat-option value="to">Tocantins</mat-option>

                            </mat-select>
                        </mat-form-field>
                        <mat-form-field style="width: 200px; margin-left: 10px">
                            <input matInput formControlName="birth" placeholder="Data de Nascimento">
                        </mat-form-field>  

                        <mat-form-field style="width: 100px; margin-left: 10px">
                            <mat-label>Sexo</mat-label>
                            <mat-select formControlName="gender" required>
                                <mat-option value="masculino">Masculino</mat-option>
                                <mat-option value="feminino">Feminino</mat-option>
                            </mat-select>
                        </mat-form-field>
               
                        <mat-form-field style="width: 200px; margin-left: 10px">
                            <input matInput formControlName="celNumber" placeholder="Celular">
                        </mat-form-field>
                        <mat-form-field style="width: 200px; margin-left: 10px">
                            <input matInput formControlName="telNumber" placeholder="Telefone Fixo">
                        </mat-form-field>
                        <mat-form-field style="width: 200px; margin-left: 10px">
                            <input matInput formControlName="comNumber" placeholder="Telefone Comercial">
                        </mat-form-field>                                                                        
                    </p>
                </div>

            </div>
            <div style="float: right; margin-right: 150px">
                <button mat-raised-button color="primary">Registrar</button>
            </div>

        </form>
    </div>
</div>