.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - (70px));
    /*height: 100%;*/

}

.register-main{
    display: flex;
    justify-content: center;
    align-content: space-around;
    margin: 50px;
    padding: 20px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.register-content{
    display: flex;
    flex-direction: row;
}


.img-client{
    width: 350px;
    height: 430px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;

}

.content{
    width: 100%;
    margin: 20px;
}

.action-form{
    float: right; 
    margin-right: 150px;
    justify-content: flex-end
}
