.main{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-client{
    width: 600px;
    height: 400px;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}


.text-client{
    opacity: 1;
    font-size: 30px;
}